*.o
*.out
*.swp
tags
cscope*
*dump
rename.py
format.py
obj/
.VSCodeCounter/
.vscode/
pke_out.txt
.idea/
hostfs_root/bin/
.DS_Store
*.mp4
*.ppt
*.pptx
docs/pke-doc/pictures/car_video.mp4
docs/pke-doc/resources/*.pptx

